@import url("https://fonts.googleapis.com/css?family=Lobster|Roboto:700i");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700");
* {
  margin: 0;
  padding: 0;
  color: #412c2c;
  font-size: 100%;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* overflow: hidden; */
  font-family: Open Sans;
  /* display: block; */
  /* max-width: 1400px; */
}

body {
  display: block;
  /* box-sizing: border-box; */
  /* overflow-x: hidden; */
}

/* ----------------------------------------------------------------------------------------------------- */

.header {
  background: #000 url(start_dark.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  /* padding-top: 52%; */
  /* padding-bottom: 0%; */
  /* display: block; */
}

.foreground_text_container {
  left: 0;
  top: -50px;
  /* padding-top: 30%; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.foreground_text {
  font-size: 4vw;
  padding: 40px;
  color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.foreground_button_container {
  left: 0;
  top: 75px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
/* просто затемни картинку и не парься */
/* .header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5); */
/* z-index: 2; */
/*} */

/* section.sec1 {
  width: 100vw;
  height: 100vh;
  background: url(https://myrusakov.ru/images/articles/demo/bread.jpg);
  background-size: cover;
} */

nav {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw; */
  width: 100%;
  height: 70px;
  line-height: 70px;
  background: rgba(233, 230, 230, 0.801);
  padding: 0 70px;
  box-shadow: 3px 0 4px rgba(0, 0, 0, 0.5);
  /* opacity: 0.7; */
  z-index: 5;
  /* overflow: hidden; */
}

div.logo {
  float: left;
  height: 70px;
  /* overflow: hidden; */
}

.logo img {
  height: 99%;
  object-fit: contain;
  filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.5));
}

/* div.logo h2 {
    font-size: 160%;
    font-family: 'Lobster', cursive;
  } */

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

/* nav ul li a {
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
  } */

.button1 {
  display: inline-block;
  color: white;
  text-shadow: 3px 0 4px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-size: 1.7vw;
  padding: 0.5em 2.5em;
  outline: none;
  cursor: pointer;
  /* border-width: 2px 0; */
  /* border-style: solid none; */
  /* border-color: #0ee431 #000 #0c8816; */
  /* border-color: #FDBE33 #000 #D77206; */
  border-radius: 50px;
  /* background: linear-gradient(#F3AE0F, #E38916) #E38916; */
  /* background: linear-gradient(#0ee431, #0c8816) #0c8816; */
  background: #64e371;
  transition: 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
/* a.button1:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
  a.button1:active { background: linear-gradient(#f59500, #f5ae00) #f59500; } */
.button1:hover {
  /* background: linear-gradient(#0ff735, rgb(1, 112, 34)) rgb(1, 112, 34);
  border-color: #0ff735 #000 rgb(1, 112, 34); */
  background: #4fac58;
}
.button1:active {
  /* background: linear-gradient(rgb(1, 112, 34), #0ff735) rgb(1, 112, 34);
  border-color: rgb(1, 112, 34) #000 #0ff735; */
  background: #418f49;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  /* display: inline-block; */
  float: right;
  /* height: 70px; */
}

/* Dropdown Button */
.dropbtn {
  background-color: rgba(233, 230, 230, 0);
  color: rgba(233, 230, 230, 0);
  padding: 12px;
  /* font-size: 16px; */
  border: none;
  cursor: pointer;
  height: 70px;
  filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.5));
  -webkit-transition: -webkit-transform 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  /* background-color: rgba(90, 39, 192, 0.938); */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 70px;
  right: 0;
  background-color: rgba(233, 230, 230, 0.801);
  /* min-width: 160px; */
  min-width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 5;
  /* float: right; */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding-left: 10%;
  /* padding-top: -5%; */
  text-decoration: none;
  display: block;
  line-height: 4vh;
  font-size: 2.5vh;
  padding-bottom: 3vh;
  padding-top: 3vh;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgb(180, 175, 175, 0.801);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Попытка адаптивности, чтобы текст был приклеен к картинке */
/* .title{
  background: url(start_dark.png) no-repeat top;
  background-size: cover; */
/* padding-bottom:50.2753441802%; */
/* text-align: center;
  padding-top: 51%;
  margin: 0; */
/* text-indent:-999em; */
/* align-items: center; */
/* justify-content: center; */
/* position: relative;
  font-size: 4vw; */
/* padding: 40px; */
/* color: white;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
} */

/* ----------------------------------------------------------------------------------------------- */

.why_we {
  /* padding-top: 82%; */
  background: #000 url(background_logo.png) no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* display: block; */
  /* text-align: center; */
}

/* .why_we_align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */

.why_we h2 {
  font-size: 6.5vh;
  margin-bottom: 5vh;
  /* color: #4e504e; */
  color: #555555;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.why_we li {
  font-size: 4vh;
  /* font-size: 2vw; */
  color: #555555;
  /* color: #4e504e; */
  margin-bottom: 3vh;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.why_we ul {
  text-align: center;
  list-style-position: inside;
}

/* ---------------------------------------------------------------------------------------------- */

.what_you_will_get {
  background-color: #c4c4c4;
  /* background-color: #696b69; */
  height: 100vh;
  width: 100%;
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .what_you_will_get_block_align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
} */

.what_you_will_get h2 {
  font-size: 6.5vh;
  margin-bottom: 7vh;
  margin-top: 10vh;
  /* color: #302f2e; */
  color: #555555;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.what_you_will_get_block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80vw;
  margin-bottom: 8vh;
}

.block {
  height: 20vh;
  width: 25vw;
  margin-bottom: 3vh;
}

.block p {
  /* color: #292928; */
  color: #555555;
  font-size: 3vh;
  /* margin-bottom: 5vh; */
  /* text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3); */
}

.img_audit {
  height: 4vw;
  /* width: 4vw; */
}

.img_mistakes {
  height: 4vw;
  /* width: 4.5vw; */
}

.img_confident {
  height: 3.2vw;
  /* width: 3.5vw; */
}

.img_money {
  height: 3.5vw;
  /* width: 4vw; */
}

/* .block img {
  margin-left: 8vw;
} */

/* ---------------------------------------------------------------------------------------- */

.cost {
  /* display: block; */
  min-height: 100vh;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border-left: 1.5vw solid rgb(99, 184, 131);
  border-right: 3vw solid rgb(99, 184, 131); */
  border-left: 1.5vw solid #94c49c;
  border-right: 1.5vw solid #94c49c;
}

.cost h2 {
  font-size: 6.5vh;
  margin-top: 15vh;
  margin-bottom: 7vh;
  /* color: #302f2e; */
  color: #555555;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
  /* text-align: center; */
}

/* .cost_align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
} */

.cost_align_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-flow: row wrap; */
  justify-content: space-around;
  width: 90vw;
  margin-bottom: 8vh;
}

.cost_block {
  display: table-cell;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  /* width: 25vw; */
  margin-bottom: 8vh;
  margin-right: 3vw;
  margin-left: 3vw;
}

.cost_block h3 {
  font-size: 3vh;
  margin-bottom: 3vh;
  color: #555555;
  /* max-width: 25vw; */
}

.cost_block p {
  margin-bottom: 3vh;
  color: #555555;
}

.price {
  font-size: 3vh;
  margin-bottom: 3vh;
  color: #555555;
}

.button_cost {
  /* margin-top: 3vh; */
  /* display: inline-block; */
  /* color: #000; */
  color: #555555;
  /* text-shadow: 3px 0 4px rgba(0, 0, 0, 0.5); */
  text-decoration: none;
  font-size: 3vh;
  padding: 0.5em 2em;
  outline: none;
  cursor: pointer;
  /* border-width: 0; */
  /* border-style: solid none; */
  /* border-color: #0ee431 #000 #0c8816; */
  /* border-color: #FDBE33 #000 #D77206; */
  border-radius: 50px;
  /* background: linear-gradient(#F3AE0F, #E38916) #E38916; */
  /* background: rgb(99, 184, 131); */
  /* background: #ACE4AB; */
  background: #94c49c;
  /* transition: 0.2s; */
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
}

/* ----------------------------------------------------------------------------------------- */

.who_audit {
  /* display: block; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.who_audit h2 {
  font-size: 6.5vh;
  /* margin-top: 15vh;  <-----------при сжимании разобраться */
  margin-bottom: 10vh;
  /* margin-left: 3vw; */
  /* color: #302f2e; */
  color: #555555;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

/* .who_audit_align {
  display: table-cell;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
} */

.who_blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
}

.who_block {
  background-color: #ace4ab;
  /* background-color: rgb(99, 184, 131); */
  border-radius: 5vw;
  padding: 3vw;
  margin-bottom: 5vh;
  margin-left: 3vw;
  margin-right: 3vw;
}

.who_block h3 {
  margin-bottom: 2vh;
  color: #555555;
}

.who_block p {
  color: #555555;
}

/* -------------------------------------------------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: 90vh;
  position: relative;
  /* margin: auto; */
  /* display: block; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slideshow-container h2 {
  font-size: 6.5vh;
  margin-bottom: 1.5vh;
  margin-top: 16vh;
  /* margin-left: 32vw; */
  /* color: #302f2e; */
  color: #555555;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

/* Hide the images by default */
.mySlides {
  display: none;
  /* height: 70vh; */
  /* width: auto; */
}

.slideshow-images {
  height: 70vh;
  cursor: pointer;
}

.slideshow-images:hover {
  opacity: 0.7;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: 4vw;
  height: 4vw;
  margin-top: -22px;
  padding: 0.5vw;
  /* background-color: #ACE4AB; */
  background-color: #4caf50;
  /* background-color: #94C49C; */
  /* background-color: #0c8816; */
  color: white;
  font-weight: bold;
  font-size: 2vw;
  transition: 0.6s ease;
  border-radius: 30px;
}
.prev {
  left: 10vw;
  padding-right: 1vw;
}

/* Position the "next button" to the right */
.next {
  right: 10vw;
  padding-left: 1vw;
  /* border-radius: 3px 0 0 3px; */
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 6; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Caption text */
/* .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
} */

/* Number text (1/3 etc) */
/* .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
} */

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5vw;
  width: 1.5vw;
  margin: 1vh 1vh;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-bottom: 10vh;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* --------------------------------------------------------------------------------------------- */
/* Appointment */

.appointment {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000 url("contact_dark.png") no-repeat;
  background-size: cover;
}

.appointment h2 {
  font-size: 6.5vh;
  margin-bottom: 5vh;
  margin-top: 12vh;
  /* margin-left: 32vw; */
  text-align: center;
  color: white;
  text-shadow: 3px 3px 7px rgba(161, 155, 155, 0.3);
}

/* Style inputs with type="text", select elements and textareas */
.appointment input[type="text"],
select,
textarea {
  width: 60vw; /* Full width */
  padding: 2vh;
  /* padding: 12px;  */
  /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 1vh;
  /* margin-top: 6px;  */
  /* Add a top margin */
  margin-bottom: 2vh;
  /* margin-bottom: 16px;  */
  /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* .appointment textarea{
  height: 25vh;
} */

/* Style the submit button with a specific background color etc */
.appointment input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 2vh 2.5vh;
  /* padding: 12px 20px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 60vw;
}

/* When moving the mouse over the submit button, add a darker green color */
.appointment input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  /* padding: 20px; */
  padding: 2.5vh;
}

.appointment p {
  margin-top: 2.5vh;
  color: #737573;
  margin-bottom: 13vh;
  /* font-size: 3vh; */
  /* width: 60vw; */
}

.appointment a {
  color: #0c8816;
}

.appointment a:hover {
  /* color: #0ee431; */
  color: #4caf50;
}

.appointment textarea {
  height: 25vh;
}
/* --------------------------------------------------------------------------------------------- */

/* Footer and contacts */

.footer-distributed {
  background: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 2.8vh sans-serif;
  /* padding: 55px 50px; */
  padding: 3vw 4vw;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-left-flex {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 33%;
  /* margin-top: 2vh; */
}

/* The company logo */

div.logo1 {
  float: left;
  height: 13vh;
  /* overflow: hidden; */
}

.logo1 img {
  height: 100%;
  object-fit: contain;
  /* filter: drop-shadow(1px -1px 7px rgba(29, 65, 28, 0.3)); */
}

.space-between-footer-1 {
  height: 3vh;
}

/* Footer links */

.footer-distributed .footer-links {
  /* color: #4e504e; */
  color: #555555;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  position: relative;
}

/* .footer-distributed .footer-links a:hover{
  text-decoration: underline;
} */

.footer-distributed .footer-links .link-2:after {
  display: block;
  content: "";
  /* background-color: #4e504e; */
  background-color: #555555;
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer-distributed .footer-links .link-2:hover:after,
.footer-distributed .footer-links .link-2:focus:after {
  width: 100%;
}

.footer-distributed .footer-company-name {
  /* color: rgb(75, 74, 74); */
  color: #555555;
  font-size: 2vh;
  font-weight: normal;
  margin-top: 3vh;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 43%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  /* color: #4e504e; */
  color: #555555;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  /* color: #4e504e; */
  color: #555555;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

/* .footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;
} */

.footer-distributed .footer-links .link-1:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  /* color: #4e504e; */
  color: #555555;
  display: inline-block;
  padding-right: 5px;
}

.space-between-footer {
  height: 7vh;
}

.link-3 {
  /* margin-top: 15vh; 1111111111111111111111111 */
  line-height: 1.8;
  font-weight: 400;
  font-size: 2vh;
  text-decoration: none;
  color: inherit;
  /* position: absolute; */
  /* bottom: 10; */
  /* position: relative; */
  color: #5aca5a;
  margin-left: 4vw;
}

/* .footer-distributed .footer-links .link-1:before {
  content: none;
} */

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-right p span {
  display: block;
  font-weight: normal;
  font-size: 2.3vh;
  line-height: 2;
}

.footer-distributed .footer-right p a {
  color: rgb(32, 178, 93);
  text-decoration: none;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #777c81;
  font-size: 2.1vh;
  font-weight: normal;
  /* margin: 0; */
  margin-bottom: 0.25vh;
}

.footer-distributed .footer-company-about span {
  display: block;
  /* color: #4e504e; */
  color: #555555;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 1vh;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  /* color: #4e504e; */
  color: #555555;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

/* @media (max-width: 880px) {

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
} */

/* ---------------------------------------------------------------- */

.zatemnenie {
  background: rgba(102, 102, 102, 0.68);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9;
}

window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50vw;
  /* border: 1px solid #cecece; */
  border: none;
  border-radius: 4px;
  padding: 5vh;
  transform: translate(-50%, -50%);
  /* background-color: #fafafa; */
  background: #000 url("contact_dark.png") no-repeat;
  background-size: cover;
}

.zatemnenie input {
  display: block;
  width: 100%;
  /* padding: 10px 0; */
  text-indent: 20px;
  /* margin: 10px 0; */

  padding: 2vh 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box;  */
  margin-top: 1vh;
  margin-bottom: 2vh;
  /* resize: vertical; */
}

.zatemnenie p {
  margin-top: 2.5vh;
  color: #737573;
  /* margin-bottom: 13vh; */
}

/* .zatemnenie a{ */
.polit-conf {
  color: #0c8816;
}

.polit-conf:hover {
  /* .zatemnenie a:hover{ */
  color: #4caf50;
}

.zatemnenie input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 2vh 2.5vh;
  /* padding: 12px 20px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  resize: vertical;
}

/* When moving the mouse over the submit button, add a darker green color */
.zatemnenie input[type="submit"]:hover {
  background-color: #45a049;
}

.zatemnenie-textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-indent: none;
  margin: 10px 0;
}

/* div#main_text a   */
.close_window {
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
  cursor: pointer;
  color: white;
}

/* ----------------------------------------------------------------- */

.zatemnenie-cost {
  background: rgba(102, 102, 102, 0.68);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9;
}

.zatemnenie-cost input {
  display: block;
  width: 100%;
  /* padding: 10px 0; */
  text-indent: 20px;
  /* margin: 10px 0; */

  padding: 2vh 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box;  */
  margin-top: 1vh;
  margin-bottom: 2vh;
  /* resize: vertical; */
}

.zatemnenie-cost select {
  width: 100%;
  padding: 2vh 2vh;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 1vh;
  margin-bottom: 2vh;
  color: #858585;
}

.zatemnenie-cost option {
  color: #858585;
  /* width: 50%; */
  /* border-radius: 4px; */
}

.zatemnenie-cost p {
  margin-top: 2.5vh;
  color: #737573;
  /* margin-bottom: 13vh; */
}

/* .zatemnenie a{ */
.polit-conf {
  color: #0c8816;
}

.polit-conf:hover {
  /* .zatemnenie a:hover{ */
  color: #4caf50;
}

.zatemnenie-cost input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 2vh 2.5vh;
  /* padding: 12px 20px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  resize: vertical;
}

/* When moving the mouse over the submit button, add a darker green color */
.zatemnenie-cost input[type="submit"]:hover {
  background-color: #45a049;
}

/* div#main_text a   */
.close_window_cost {
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
  cursor: pointer;
  color: white;
}

.thankyou_message{
  display:none;
  text-align: center;
}

.thankyou_message h2{
  color: white;
  font-size: 2.5vh;
  margin: 1vh 0;
}

/* -----------media----------------------------------------------- */
@media screen and (min-width: 480px) and (max-width: 800px) {
  /* Target landscape smartphones, portrait tablets, narrow desktops */

  nav {
    /* padding: 0 5vw; */
    padding-left: 6vw;
    padding-right: 5vw;
  }

  .foreground_text_container {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }
  .foreground_text {
    font-size: 250%;
  }
  .button1 {
    font-size: 2.8vh;
    margin-top: 5vh;
  }

  .why_we {
    background-position: center;
  }
  .why_we h2 {
    font-size: 5.5vh;
  }
  .why_we li {
    font-size: 3.5vh;
    padding: 0 8%;
  }

  .what_you_will_get h2 {
    font-size: 5vh;
  }
  .what_you_will_get_block {
    width: 80vw;
    margin-bottom: 6.5vh;
  }
  .block {
    height: 20vh;
    width: 30vw;
    margin-bottom: 6.5vh;
  }
  .block p {
    font-size: 2.5vh;
  }
  .img_audit {
    height: 7vh;
  }
  .img_mistakes {
    height: 7vh;
  }
  .img_confident {
    height: 5.5vh;
  }
  .img_money {
    height: 6vh;
  }

  .cost {
    border-left: 2vw solid #94c49c;
    border-right: 2vw solid #94c49c;
  }
  .cost h2 {
    font-size: 5vh;
  }
  .cost_block h3 {
    font-size: 3vh;
  }
  .price {
    font-size: 2.75vh;
  }
  .button_cost {
    font-size: 2.75vh;
    padding: 0.5em 1.5em;
  }

  .who_audit h2 {
    font-size: 5vh;
    margin-top: 8vh;
    margin-bottom: 5vh;
    width: 80%;
  }
  .who_block {
    margin-bottom: 4vh;
    /* border-radius: 50px; */
  }

  .slideshow-container h2 {
    width: 80%;
    font-size: 5.25vh;
    margin-bottom: 3vh;
    margin-top: 16vh;
  }
  .slideshow-images {
    height: 65vh;
  }
  .prev,
  .next {
    top: 67.5%;
    width: 6vw;
    height: 6vw;
    font-size: 3.5vw;
  }
  .modal-content {
    width: 100%;
  }
  .dot {
    height: 2.5vw;
    width: 2.5vw;
    margin: 2vh 1vh;
  }

  .appointment h2 {
    font-size: 5vh;
    margin-bottom: 5vh;
    margin-top: 12vh;
  }
  .appointment input[type="text"],
  select,
  textarea {
    width: 70vw;
  }
  .appointment input[type="text"],
  input[type="text"]::-webkit-input-placeholder,
  select,
  select::-webkit-input-placeholder,
  textarea,
  textarea::-webkit-input-placeholder {
    font-size: 2.5vh;
  }
  .appointment input[type="submit"] {
    width: 70vw;
    font-size: 2.5vh;
  }
  .appointment p {
    font-size: 2.5vh;
    /* width: 70vw; */
  }
  .appointment textarea {
    height: 20vh;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
    /* display: table-cell; */
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

  .zatemnenie input[type="submit"] {
    padding: 2vh 0;
    padding-right: 3vw;
  }

  .thankyou_message h2{
    font-size: 2.5vh;
    margin: 1vh 0;
  }
}

@media screen and (max-width: 479px) {
  /* Target portrait smartphones */

  nav {
    /* padding: 0 5vw; */
    padding-left: 6vw;
    padding-right: 5vw;
  }

  .foreground_text_container {
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
  }
  .foreground_text {
    font-size: 250%;
  }
  .button1 {
    font-size: 2.8vh;
    margin-top: 5vh;
  }

  .why_we {
    background-position: center;
  }
  .why_we h2 {
    font-size: 5.5vh;
  }
  .why_we li {
    font-size: 3.5vh;
    padding: 0 8%;
  }

  .what_you_will_get h2 {
    font-size: 5vh;
  }
  .what_you_will_get_block {
    width: 80vw;
    margin-bottom: 6.5vh;
  }
  .block {
    height: 20vh;
    width: 30vw;
    margin-bottom: 6.5vh;
  }
  .block p {
    font-size: 2.5vh;
  }
  .img_audit {
    height: 7vh;
  }
  .img_mistakes {
    height: 7vh;
  }
  .img_confident {
    height: 5.5vh;
  }
  .img_money {
    height: 6vh;
  }

  .cost {
    border-left: 2vw solid #94c49c;
    border-right: 2vw solid #94c49c;
  }
  .cost h2 {
    font-size: 5vh;
  }
  .cost_block h3 {
    font-size: 3vh;
  }
  .price {
    font-size: 2.75vh;
  }
  .button_cost {
    font-size: 2.75vh;
    padding: 0.5em 1.5em;
  }

  .who_audit h2 {
    font-size: 5vh;
    margin-top: 8vh;
    margin-bottom: 5vh;
    width: 80%;
  }
  .who_block {
    margin-bottom: 4vh;
    /* border-radius: 50px; */
  }

  .slideshow-container h2 {
    width: 80%;
    font-size: 5.25vh;
    margin-bottom: 3vh;
    margin-top: 16vh;
  }
  .slideshow-images {
    height: 65vh;
  }
  .prev,
  .next {
    top: 67.5%;
    width: 6vw;
    height: 6vw;
    font-size: 3.5vw;
  }
  .dot {
    height: 2.5vw;
    width: 2.5vw;
    margin: 2vh 1vh;
  }

  .appointment h2 {
    font-size: 5vh;
    margin-bottom: 5vh;
    margin-top: 12vh;
  }
  .appointment input[type="text"],
  select,
  textarea {
    width: 70vw;
  }
  .appointment input[type="text"],
  input[type="text"]::-webkit-input-placeholder,
  select,
  select::-webkit-input-placeholder,
  textarea,
  textarea::-webkit-input-placeholder {
    font-size: 2.5vh;
  }
  .appointment input[type="submit"] {
    width: 70vw;
    font-size: 2.5vh;
  }
  .appointment p {
    font-size: 2.5vh;
    /* width: 70vw; */
  }
  .appointment textarea {
    height: 20vh;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
